@import "tailwindcss";

@theme {
    /* --color-main: #FC2121; */
    --color-main: #00ba80;
    --color-light-grey: #FBF8FF;
    --color-medium-grey: #A4A3A3;
    --color-blue-grey: #97AABD;
}

@font-face {
    font-family: "Poppins Regular";
    src: url("/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Bold";
    src: url("/fonts/Poppins-Bold.ttf");
}

body {
    font-family: "Poppins Regular";
}

h1, h2, h3, nav, .splashscreen {
    font-family: "Poppins Bold";
}


/* animation vom splashscreen */
@keyframes slideDown {
    0% {
        top: -100%;
    }
    30% {
        top: 0;
    }
    50% {
        top: 0;
    }
    70% {
        top: 0; 
    }
    100% {
        top: 100%; 
    }
}

.intro-slide {
    animation: slideDown 5s ease-in-out forwards;
}

/* Animation für p-tag innerhalb des splashscreen */
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2); 
    }
    100% {
        transform: scale(1); 
    }
}

.scaled-text {
    animation: scaleUp 1.5s ease-in-out forwards;
    animation-delay: 2s;
}

/* toggle Klasse für Genre Buttons */
.toggle-genre {
    background-color: var(--color-main);
    color: white;
}

/* Animation für slide-Hinweis innerhalb auf /home */
@keyframes arrowBounce {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px); 
    }
    100% {
        transform: translateX(0); 
    }
}

.bounceyArrow {
    animation: arrowBounce 2s ease-in-out infinite;
}
.bounceyArrow:nth-of-type(2) {
    animation-delay: .2s;
}
.bounceyArrow:nth-of-type(3) {
    animation-delay: .4s;
}

@plugin "daisyui" {
    themes: false;
  }
